.Logo{
    height: 100%;
    padding: 2px;
 
}
.Logo img{
    height: 100%;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #d2d2d2;
    padding: 7px 5px;
    box-shadow: 2px 2px 10px -1px;
}


@media (max-width:750px){
    .DesktopOnly{
        display: none;
    }
}